In [1]:
import pandas as pd

# from 2d array

In [2]:
data=[
["Alice",25],
["Rohan",26],
["John",23],
]
df=pd.DataFrame(data,columns=["name","age"])
print(df)

    name  age
0  Alice   25
1  Rohan   26
2   John   23

# From Dictionary

In [3]:
data={
"name":["Alice","Roham","Sohan"],

"age":[23,24,26]
}
df2=pd.DataFrame(data)
print(df2)

    name  age
0  Alice   23
1  Roham   24
2  Sohan   26

In [4]:
import numpy as np

In [5]:
arr=np.array([[1,2],[3,4]])
df3=pd.DataFrame(arr,columns=["A","B"])
print(df3)

   A  B
0  1  2
1  3  4

# reading excel

In [6]:
df4=pd.read_excel("data.xlsx")

In [7]:
print(df4)

       name School  marks
0   Shubham    urs     98
1     Rohan    urd     85
2     Soham    are     86
3    Piyush    trf     98
4  Shivansh    tew     94
5    mridul    rrs     93
6    Aakash    dps     81
7    Joshua    lps     72

# Reading CSv

In [8]:
df4=pd.read_csv("data2.csv")

# reading json

In [11]:
df = pd.read_json("data.json")

In [12]:
print(df)

     name  age
0  piyush   20
1   rohan   21