In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("housing.csv")

In [3]:
df['income_cat']=pd.cut(df['median_income'],bins=[0,1.5,3,4.5,6.0,np.inf],labels=[1,2,3,4,5])

In [4]:
from sklearn.model_selection  import StratifiedShuffleSplit

In [5]:
#Assume imncome cat is a column in the dataset created from median income
split=StratifiedShuffleSplit(n_splits=1,test_size=0.2,random_state=42)

In [6]:
for train_index,test_index in split.split(df,df["income_cat"]):
    strat_train_set=df.loc[train_index]
    strat_test_set=df.loc[test_index]

In [7]:

 #lets remove incom cat 
for sett in (strat_test_set,strat_train_set):
    sett.drop("income_cat",axis=1,inplace=True)

In [8]:
df=strat_train_set.copy()

In [9]:
housing = df.drop("median_house_value", axis=1)
housing_labels = df["median_house_value"].copy()

In [10]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy="median")

housing_num = housing.select_dtypes(include=[np.number])
# imputer.fit(housing_num)
# x=imputer.transform(housing_num)
#or 
x=imputer.fit_transform(housing_num)

In [11]:
housing_train=pd.DataFrame(x,columns=housing_num.columns,index=housing_num.index)

In [12]:
housing_train["ocean_proximity"]=df["ocean_proximity"]

In [13]:
housing_train
housing=housing_train[["ocean_proximity"]]

In [14]:
# from sklearn.preprocessing import OrdinalEncoder

# ordinal_encoder = OrdinalEncoder()
# housing_cat= ordinal_encoder.fit_transform(housing_train)
from sklearn.preprocessing import OneHotEncoder

OneHotencoder = OneHotEncoder()
housing_cat= OneHotencoder.fit_transform(housing)

In [15]:
housing

      ocean_proximity
12655          INLAND
15502      NEAR OCEAN
2908           INLAND
14053      NEAR OCEAN
20496       <1H OCEAN
...               ...
15174       <1H OCEAN
12661          INLAND
19263       <1H OCEAN
19140       <1H OCEAN
19773          INLAND

[16512 rows x 1 columns]

In [16]:
housing_cat.toarray()

array([[0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 1.],
       [0., 1., 0., 0., 0.],
       ...,
       [1., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.]], shape=(16512, 5))

In [17]:
housing_cat=pd.DataFrame(housing_cat.toarray(),columns=["<1H OCEAN","INLAND","ISLAND","NEAR BAY","NEAR OCEAN"],index=housing.index)

In [18]:
housing_cat

       <1H OCEAN  INLAND  ISLAND  NEAR BAY  NEAR OCEAN
12655        0.0     1.0     0.0       0.0         0.0
15502        0.0     0.0     0.0       0.0         1.0
2908         0.0     1.0     0.0       0.0         0.0
14053        0.0     0.0     0.0       0.0         1.0
20496        1.0     0.0     0.0       0.0         0.0
...          ...     ...     ...       ...         ...
15174        1.0     0.0     0.0       0.0         0.0
12661        0.0     1.0     0.0       0.0         0.0
19263        1.0     0.0     0.0       0.0         0.0
19140        1.0     0.0     0.0       0.0         0.0
19773        0.0     1.0     0.0       0.0         0.0

[16512 rows x 5 columns]